body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* header section */

.header {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1f2937;
    padding-top: 16px;
    align-items: center;
    color: white;
    height: 30 px;
    flex-grow: 0;
}

/* hero section */

.hero {
    background-color: #1f2937;
}

.header-logo {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.links {
    margin-left: auto;
    font-size: 18px;
    display: flex;
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
}

.container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.left-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    opacity: 80%;
    margin-top: 24px;
    padding: 0;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 28px;
    color: white;
    font-weight: bold;
}

/* information section */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.information-text {
    font-size: 36px;
    font-weight: bold;
    align-self: center;
    margin: 50px;
    text-align: center;
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    width: 150px;
    height: 150px;
    outline: 4px solid #3882f6;
    border-radius: 10px;
    flex-shrink: 0;
}

.box1 {
    width: 150px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.box2 {
    width: 150px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.box3 {
    width: 150px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.box4 {
    width: 150px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.box-text {
    margin-top: 8px;
    opacity: 60%;
    margin-bottom: 24px;
}

/* quote section */

.quote-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    display: flex;
    max-width: 800px;
    flex-shrink: 1;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.quote-name {
    text-align: end;
    font-weight: bold;
    font-size: 18px
}
/*
div {
    outline: 2px solid red;
}